# SPDX-License-Identifier: MIT
name: markdownlint

on:
  workflow_call:
    inputs:
      files:
        description: 'files, directories, or globs. Default: `.`'
        required: false
        default: '.'
        type: string
      ignore-files:
        description: 'files to ignore/exclude (file, directory, glob).'
        required: false
        default: ''
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: markdownlint
      uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1 # v3.5.0
      with:
        config_file: .github/linters/.markdown-lint.yml
        files: '${{ inputs.files }}'
        ignore_files: '${{ inputs.ignore-files }}'
