# SPDX-License-Identifier: MIT
name: yamllint

on:
  workflow_call:
    inputs:
      additional_args:
        description: 'Additional yamllint arguments'
        required: false
        default: ''
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  yamllint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - name: yamllint
      uses: docker://docker.io/cytopia/yamllint:latest@sha256:3e9eb827ab2b12a5ea5f49d4257bb3aca94bba9f1ba427c8bc7f2456385a5204
      with:
        entrypoint: /usr/bin/yamllint
        args: '--config-file .github/linters/.yaml-lint.yml --format github --strict ${{ inputs.additional_args }} .'
